<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body class="container">

<header>
    <%- include('./header'); %>
</header>

<main>
    <h2>About this project</h2>
     <ul>
         <li>The purpose of this project is to enable the users to exchange their used books with other users. The only needed payment is for the Post, if necessary.  </li>
         <li>This platform can be useful for people who like to read a lot, but they live in a small apartment. So, they cannot keep all their books. Also, this platform has financial benefits for the users, since they don’t need to buy expensive first-hand books.</li>
         <li>Each user has its own profile, and each book has a detail page to describe its contents and conditions.  </li>
         <li>Users also can leave comments and reviews after the transaction is completed.</li>
     </ul>

</main>

<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>