<!-- footer -->
<div class="footer">
    <hr>
        <div class="footer-collumn">
            <div class="footer-collumna">
                <div class="footer-collumna-top">
                    <h3>CONTACT US</h3>
                </div>
                <ul class="footer-collumna-bottom">
                    <li>
                        <a href="" class="">
                            <i class="fas fa-phone-volume"></i>
                            <span id="phone">&nbsp;0909 123 456 <sub>(Free)</sub></span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="far fa-envelope"></i>
                            <span>team3@students.oamk.fi</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fas fa-home"></i>
                            <span class="home address">Yliopistokatu 9, 90570 OULU 90570 Oulu, Finland</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-collumnb">
                <div class="footer-collumnb-top">
                    <h3>INFORMATION</h3>
                </div>
                <ul class="footer-collumnb-bottom">
                    <li><a href="" class="">About us</a></li>
                    <li><a href="" class="">Exchanging Guide</a></li>
                    <li><a href="" class="">Transportation</a></li>
                </ul>
            </div>
            <div class="footer-collumnc">
                <div class="footer-collumnc-top">
                    <h3>WHERE TO FIND US</h3>
                </div>
                <div class="footer-collumnc-bottom">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1682.2676912167033!2d25.469971516233894!3d65.06181808401735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46802d052d06ce85%3A0xd4acaa362bd64910!2sYliopistokatu%209%2C%2090570%20Oulu%2C%20Ph%E1%BA%A7n%20Lan!5e0!3m2!1svi!2s!4v1607357770203!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </hr>
    <div class="footer-end">
        <span>© 2020 TEAM3. All rights reserved.</span>
    </div>
</div>
<!-- end of footer -->