<ul class="footer_collumna_bottom">
    <li>
        <a href="" class="">
            <i class="fas fa-phone-volume"></i>
            <span id="phone">&nbsp;0909 123 456 <sub>(Free)</sub></span>
        </a>
    </li>
    <li>
        <a href="" class="">
            <i class="far fa-envelope"></i>
            <span>THT@students.oamk.fi</span>
        </a>
    </li>
    <li>
        <a href="" class="">
            <i class="fas fa-home"></i>
            <span class="home address">Yliopistokatu 9, 90570 OULU 90570 Oulu, Finland</span>
        </a>
    </li>
</ul>