<a href="/"><img src="/images/logo.png"></a>
<ul>
  <li><a href="/about">About</a></li>
  <li><button onclick="showSignUpForm()">Sign Up</button></li>
  <li><button onclick="window.location.href='/login'">Log In</button></li>
</ul>

<script type="text/javascript">
  function showSignUpForm() {
    fetch('/signup')
      .then( res => res.text() )
      .then( data => {
        // console.log(data);  //string

        let htmlElement = document.createElement('template');
        htmlElement.innerHTML = data;
        console.log(htmlElement.getElementsByTagName('main')[0].innerHTML);


        let signUpForm = document.createElement('div');
        signUpForm.style.backgroundColor = '#333';
        signUpForm.style.position = 'fixed';
        signUpForm.innerHTML += htmlElement.getElementsByTagName('main')[0].innerHTML;
        console.log(signUpForm);
        document.getElementsByTagName('main')[0].append('signUpForm');
        document.getElementsByTagName('main')[0].append(signUpForm);
      } );
  }
</script>

<% if (locals.isAuthorized) { %>
  <script type="text/javascript">
    const headerElem = document.body.getElementsByTagName('header')[0];
    if ( localStorage.getItem('idmember') ) {
      const fullName = localStorage.getItem('firstname') + ' ' + localStorage.getItem('lastname');
      headerElem.append(`Welcome, ${fullName}!`);
    } else {
      headerElem.append(`Please log in first!`);
    }
  </script>
<% } %>