<meta charset="UTF-8">
<title>BookExchange | Let's send and receive books </title>

<link rel="stylesheet" href="/stylesheets/style.css">
<!-- <link rel="stylesheet" href="/fontawesome-free-5.15.1-web/css/all.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css" integrity="sha512-3icgkoIO5qm2D4bGSUkPqeQ96LS8+ukJC7Eqhl1H5B2OJMEnFqLmNDxXVmtV/eq5M65tTDkUYS/Q0P4gvZv+yA==" crossorigin="anonymous" />
<script type="text/javascript" src="/javascripts/utils.js"></script>

<style>
    body { padding-top:50px; }
</style>