<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body class="container">

<header>
    <%- include('./header'); %>
</header>

<main>
    Log In. If you already have a BookExchange profile, please log in.
    <form name="loginForm"> <!-- manually post via function -->
        <p><label>Email</label></p>
        <p><input type="email" name="emailaddress"></p>
        <p><label>Password</label></p>
        <p><input type="password" name="password"></p>

        <input type="button" name="btn_login" value="Log In">
        
        <p>Do not have account yet?</p>
        <p><input type="button" name="" value="Create account" onclick="window.location.href='/signup';"></p>

    </form>

    <script type="text/javascript">
        function login(){
          const emailaddress = document.forms.loginForm.emailaddress.value;
          const password = document.forms.loginForm.password.value;
          console.log(emailaddress, password);
          postData('/login', { emailaddress: emailaddress, password: password })
            .then(data => {
              console.log(data); // JSON data parsed by `data.json()` call
              if ( data.success === false ) {
                alert(data.message);
                return
              }

              localStorage.setItem('idmember', data[0].idmember);
              localStorage.setItem('firstname', data[0].firstname);
              localStorage.setItem('lastname', data[0].lastname);
              window.location.href = '/home?idmember=' + data[0].idmember;
            });
        }

        document.forms.loginForm.btn_login.onclick = login;
    </script>

</main>

<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>