<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body class="container">

<header>
    <%- include('./header'); %>
</header>

<main>
Welcome to BookExchange!<br>
To start your journey you need to register.
<form action="/signup" method="POST">
    <p><label>Name</label><input type="text" name=""></p>
    <p><label>Surname</label><input type="text" name=""></p>
    <p><label>Email</label><input type="text" name=""></p>
    <p><label>Country</label><input type="text" name=""></p>
    <p><label>City</label><input type="text" name=""></p>
    <p><label>Street</label><input type="text" name=""></p>
    <p><label>Postal code</label><input type="text" name=""></p>
    
    <p><label>Choose your username</label></p>
    <p><input type="text" name="username"></p>
    <p><label>Set up your password</label></p>
    <p><input type="password" name="password"></p>
    <p><label>Please re-type your password</label></p>
    <p><input type="password" name="password2"></p>

    <input type="submit" name="" value="Create account">
</form>

</main>

<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>