<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
    <link rel="stylesheet" href="/stylesheets/signup.css">
</head>
<body class="container">

<header>
    <%- include('./header'); %>
</header>

<main>
    <div class="popup-signup-form" id="signupForm">
        <form class="signup-form">
            <h2>Welcome to BookExchange! To start your journey you need to register.</h2>

            <div>
                <label>Name</label>
                <input type="text" placeholder="Enter Name" required>
            </div>
            <div>
                <label>Surname</label>
                <input type="text" placeholder="Enter Surname" required>
            </div>
            <div>
                <label>Email</label>
                <input type="text" placeholder="Enter Email" required>
            </div>
            <div>
                <label>Country</label>
                <input type="text" placeholder="Enter Country" required>
            </div>
            <div>
                <label>City</label>
                <input type="text" placeholder="Enter City" required>
            </div>
            <div>
                <label>Street</label>
                <input type="text" placeholder="Enter Street" required>
            </div>
            <div>
                <label>Postal code</label>
                <input type="text" placeholder="Enter Postal code" required>
            </div>
            <div>
                <label>Password</label>
                <input type="password" placeholder="Enter Password" name="psw1" required>
            </div>
            <div>
                <label>Confirm password</label>
                <input type="password" placeholder="Confirm Password" name="psw2" required>
            </div>

            <button type="submit" class="btn signup">Create your account</button>
            <button type="button" class="btn cancel" onclick="closeSignupForm()">Close</button>
        </form>
    </div>
</form>

</main>

<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>